

@media only screen and (min-device-width: 1024px) and (max-device-width:1500px) {
    /* Add your styles for large devices here */
.frame{
    height: 78vh;
}


.logo {
    position: relative;
  
}

.man {
    position: relative;

    top: 297px;
    right: -80px;
    width: 176px;
}

.women {
    position: relative;
    top: 297px;
    left: -510px;
    width: 180px;
}

.left-flower {
    position: relative;
    margin-right: 200px;
    left:210px;
    top:330px;

    /* transform: translateY(30px); */
}

.right-flower {
    position: relative;
    margin-right: 200px;
    right:210px;   
    top: 330px;
    
}
}


@media only screen and (min-device-width: 1501px) and (max-device-width:1920px) {

    /* Add your styles for the specified dimensions here */
    .frame {
        height: 78vh;
    }

    .logo {
        position: relative;
        right: 73px;
        width: 176px;
    }

    .man {
        position: relative;
        top: 340px;
        right: -184px;
        width: 176px;
    }

    .women {
        position: relative;
        top: 320px;
        left: -412px;
        width: 180px;
    }

    .left-flower {
        position: relative;
        top: 336px;
        left: 250px;
        margin-right: 160px;
    }

    .right-flower {
        position: relative;
        top: 336px;
        right: 230px;
        margin-right: 160px;
    }
}