@media only screen and (min-width: 1280px) {

    /* Add your styles for large devices here */
    .frame {
        height: 78vh;
    }


    .logo {
        position: relative;

    }

    .man {
        position: relative;

        top: 50px;
        right: -180px;
        width: 176px;
    }

    .women {
        position: relative;
        top: 50px;
        left: -430px;
        width: 180px;
    }

    .left-flower {
        position: relative;
        margin-right: 180px;
        left: 299px;
        top: 70px;

        /* transform: translateY(30px); */
    }

    .right-flower {
        position: relative;
        margin-right: 180px;
        right: 290px;
        top: 70px;

    }

}

@media only screen and (min-width: 1440px){

    .frame {
            height: 78vh;
        }

}

@media only screen and (min-device-width:1680px){
    .frame{
        height:74vh;
    }

    .man{
        position:relative;
        top:200px;   
        
        }
    .women{
        position: relative;
        top: 200px;
        
    }
    .left-flower{
         
        position: relative;
        top: 200px;
        margin-right: 190px;

    }
    .right-flower{
        position: relative;
        top: 200px;
        margin-right: 180px;

    }
}





@media only screen and (min-device-width:1920px) and (min-height:1080px) {



    .frame {
        height: 75vh;
    }

    .logo {
        position: relative;
        right: 73px;
        width: 176px;
    }

    .man {
        position: relative;
        top: 230px;
        right: -420px;
        width: 176px;
    }

    .women {
        position: relative;
        top: 230px;
        left: -560px;
        width: 180px;
    }

    .left-flower {
        position: relative;
        top: 300px;
        left: 560px;
        margin-right: 200px;
    }

    .right-flower {
        position: relative;
        top: 300px;
        right: 420px;
        margin-right: 200px;
    }

        .bg-custom-position {
    
            /* Adjust the size as needed */
            background-position: center 210px;
            /* Adjust the y-axis value as needed */
        }
}

.bg-custom-position {
   
    /* Adjust the size as needed */
    background-position: center -110px;
    /* Adjust the y-axis value as needed */
}