
/* styles.css */

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    /* Add your styles for extra small devices here */
  }
  
  /* Small devices (portrait tablets and large phones, 600px and up) */
  @media only screen and (min-width: 600px) {
    /* Add your styles for small devices here */
  }
  
  /* Medium devices (landscape tablets, 768px and up) */
  @media only screen and (min-width: 768px) {
    /* Add your styles for medium devices here */
    
  }
  @media only screen and (min-width: 1024px) {
    /* Add your styles for large devices here */
    .logo{
        position: relative;
        right: 73px;
        width: 200px;
    }
    .man{
        position: relative;
        top: 13px;
        left: 16px;
        width: 166px;
    }
    .women{
        position: relative;
        top: 12px;
        left: 22px;
        width: 175px;
    }
    .flower-1{
        position: relative; 
        left: 15px;

     width: 60px;}
    .flower-2{
        position: relative;
        top: 23px;
        left: 20px;
        width: 60px;
    }

    .onspot{
        position: relative;
        left: 33px;
        margin-top: 18px;
    }
    .meet-button{
        position:relative;
        top:70px;
        height: 43px;
        width: 200px;
    }

  }
  /* Large devices (laptops/desktops, 992px and up) */
  @media only screen and (min-width: 1440px) {
    /* Add your styles for large devices here */
    .logo{
        position: relative;
        left: 90px;
        width: 200px;
    }
    .man{
        position: relative;
        top: 8px;
        left: 16px;
        width: 195px;
    }
    .women{
        position: relative;
        top: 8px;
        left: 12px;
        width: 195px;
    }
    .flower-1{
        position: relative;
        top: 2px;
        
        left: 15px;

     width: 60px;}
    .flower-2{
        position: relative;
        top: 23px;
        left: -5px;

        width: 60px;
    }

    .onspot{
        position: relative;
        left: 150px;
        margin-top: 50px;
    }
    .meet-button{
        position:relative;
        top:70px;
        height: 43px;
        width: 200px;
    }
  }
  
  /* Extra large devices (large laptops and desktops, 1200px and up) */
  @media only screen and (min-width: 1200px) {
    /* Add your styles for extra large devices here */

  }
  