/* Add smooth scrolling behavior to the main element */
.smooth-scroll {
    scroll-behavior: smooth;
}
@media only screen and (min-width: 1280px) {
    .story-img{
        height: 67vh;

    }
    /* .story-p {
        font-size: 0.5;
        margin-left: 16px;
        margin-right: 16px;
    } */
}