.man,
.women {
    height: 560px;
    min-width: max-content;
}


@media only screen and (min-width: 1280px) {

    .man,
    .women {
        height: 450px;
    }

    .anahMain {
        transform: translateY(50px);
    }

    .hero-logo {
        position: relative;
        top: 0px;
    }

    .anahata {
        position: relative;
        top: 0px;
        font-size: 2.2rem;
        /* transform: ; */
    }

    .logic-blossoms {
        position: relative;
        top: 0px;
        font-size: 1rem;
    }

    .meet-button {
        position: relative;
        top: 40px;
        height: 36px;
        width: 200px;
        cursor: pointer;
        margin-top: 60px;
        margin-left: 35px;
    }
}
{

}
@media only screen and (min-device-width:1680px){
    .man,
        .women {
            height: 600px;
        }

   
}

/* @media only screen and (max-device-width:1920px) and (max-height:1080px){ */
/* .man,
        .women {
            height: 600px;
    
            
        }
    
        .anahMain {
            transform: translateY(270px);
            margin-left: 110px;
        }
    
        .hero-logo {
            position: relative;
            top: 0px;
        }
    
        .anahata {
            position: relative;
            top: 0px;
            font-size: 2.2rem;
        }
    
        .logic-blossoms {
            position: relative;
            top: 0px;
            font-size: 1rem;
        }
    
        .meet-button {
            position: relative;
            top: 92px;
            height: 36px;
            width: 200px;
            cursor: pointer;
            
        }
} */